{% extends "base.html" %}

{% block content %}
	{% if not dates %}
		<div class="alert alert-yellow">
			Es gibt noch keine Schichten!
		</div>
	{% else %}
		<ul class="nav nav-pills">
			{% for date in dates %}
				<li {% if date in path %}class="active"{% endif %}><a href="{% url angelsystem.views.shifts date=date %}">{{ date }}</a></li>
			{% endfor %}
		</ul>
		<table class="table table-bordered table-hover">
			<thead>
				<tr>
					<th></th>
					{% for cat in categories.all %}
						<th>{{ cat.name }}<br /><small>{{ cat.arch }} is your dirty arch angel.</small></th>
					{% endfor %}
				</tr>
			</thead>

			<tbody>
				{% for h in shifts %}
					<tr>
						<th>{{ h.0 }}</th>

						{% for c, v in h.1.items %}
							<td>
								{% for shift in v %}
									Von {{ shift.start_time }} bis {{ shift.end_time }} am {{ shift.location }}.<br />
									{{ shift.max_angels }}
									<hr />
								{% endfor %}
							</td>
						{% endfor %}
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}