{% extends "base.html" %}

{% block content %}
	<ul class="nav nav-pills">
		{% for date in dates %}
			<li {% if date in path %}class="active"{% endif %}><a href="{% url angelsystem.views.shifts date=date %}">{{ date }}</a></li>
		{% endfor %}
	</ul>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				{% for cat in categories.all %}
					<th>{{ cat.name }}<br /><small>{{ cat.herald }} is your dirty herald.</small></th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for hour in shift_hours %}
			<tr>
				<th>{{ h.1 }}</th>

				{% for shifts in hour.2 %}
				<td>
					{% for shift in shifts %}
					<div class="shift">
						<p>Von {{ shift.start_time }} bis {{ shift.end_time }} am {{ shift.location }}.<br />
						{{ shift.max_angels }}
					</div>
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
