{% extends "base.html" %}

{% block content %}
	<ul class="nav nav-pills">
		{% for date in dates %}
			<li {% if date|date:"Y-m-d" in path %}class="active"{% endif %}><a href="{% url angelsystem.views.shifts date=date %}">{{ date }}</a></li>
		{% endfor %}
	</ul>
	<table class="table table-bordered table-hover">
		<thead>
			<tr>
				<th></th>
				{% for cat in categories.all %}
					<th>{{ cat.name }}<br /><small>{{ cat.arch }} is your dirty arch angel.</small></th>
				{% endfor %}
			</tr>
		</thead>

		<tbody>
			{% for hour in shift_hours %}
			<tr>
				<th>{{ hour.1 }}</th>

				{% for shifts in hour.2 %}
				<td>
					{% for shift in shifts.1 %}
					<p><strong>Von {{ shift.start_time|date:"G:i" }} bis {{ shift.end_time|date:"G:i" }}:</strong> {% for user in shift.users.all %} {{ user }}, {% endfor %} {{ shift.required_angels }} Engel gesucht</p>
					{% endfor %}
				</td>
				{% endfor %}
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
