{% extends "base.html" %}

{% block content %}
	{% if not entries %}
		<div class="alert alert-yellow">
			Es gibt noch keine Blogeinträge!
		</div>
	{% endif %}

	{% for entry in entries %}
		<article {% if entry.pin %}class="well"{% endif %}>
			<h2>{{ entry.title }} <small>von {{ entry.arch }} | {{ entry.create_time }}</small></h2>

			{{ entry.content }}
		</article>
	{% endfor %}

	<div class="pagination pagination-centered">
		<ul>
			<li {% if not entries.has_previous %}class="disabled"{% endif %}><a href="?page={{ entries.previous_page_number }}">«</a></li>
			<li class="disabled"><a>{{ entries.number }}</a></li>
			<li {% if not entries.has_next %}class="disabled"{% endif %}><a href="?page={{ entries.next_page_number }}">»</a></li>
		</ul>
	</div>
{% endblock %}