<!DOCTYPE html>
<html>
	<head>
		<title>Engelsystem 3.0 {{ title }}</title>
		<meta charset="utf-8" />

		<link rel="stylesheet" href="{{ settings.STATIC_URL }}css/bootstrap.min.css" />
		<style>
			body {
				padding-top: 60px;
			}
		</style>
	</head>
	<body>
		<header>
			<div class="navbar navbar-inverse navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container-fluid">
						<a class="brand" href="{% url angelsystem.views.index %}">Engelsystem 3.0</a>

						<p class="navbar-text pull-right">
							Ohai {{ user.username }}.
						</p>

						<ul class="nav">
							<li><a href="{% url angelsystem.views.index %}">Blog</a></li>
							<li><a href="{% url angelsystem.views.shifts %}">Schichten</a></li>
							<li><a href="{% url angelsystem.views.myShifts %}">Meine Schichten</a></li>
							<li><a href="{{ settings.LOGOUT_URL }}">Abmelden</a></li>
						</ul>
					</div>
				</div>
			</div>
		</header>

		<div class="container">
			{% block content %}
			{% endblock %}
		</div>
	</body>
</html>